/packages/
riderModule.iml
/_ReSharper.Caches/
# Build outputs
bin/
obj/

# Rider / IntelliJ
.idea/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Logs
*.log

# Optional
*.tmp
*.temp

#scripts
demande-export.txt
export.txt